<HTML>
<BODY style="background-color:#5DADE2;">
<form method="POST" action="">
    <center>
    <H1 style="font-family: Verdana;margin-bottom: 30px;">Add Some words </H1> <br>
    <span style= "margin-bottom: 30px;">Put your search string</span><br>
    <input type = "text" name = "sentence" placeholder="Enter some words!"style="height:100px;width:400px;font-size:14pt;margin-top: 30px;margin-bottom:30px;"/> <br>
    <input type="hidden" name="form_type" value="function_search"/>
    <input style= "margin-bottom: 30px;" type = "submit" value="Search">
    </center>
</form>
   <center>
   	<h3>Results</h3>
	<ol>
    
{% for item in tweets %}
	{% for id, text in item %}
	<li>{{ id }} : {{ text }} </li>
	{% endfor %}
{% endfor %}
</ol>

   </center>

</BODY>
</HTML>
